body {
    height: 800px;
    width: 100%;
    background: linear-gradient(to top, #F6F871, #B3F871, white);
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

nav p {
    margin: 0;

}

a img {
    width: 50px;
}

